html {
  height: 100%;
  box-sizing: border-box;
}

body {
    background-color: $secondaryColor;
    font-family: $primaryFont;
    line-height: 1.4;
    margin: 0;
}

main {
    width: 100%;
    max-width: $desktop;
    margin: 30px auto;
    background-color: $secondaryColor;
    padding: $normalPadding;
    border-radius: $borderRadius;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap
}

.content {
    flex: 0 0 74%;

    @media only screen and (max-width: $tablet) {
        flex: 0 0 100%
    }

    h1 {
        font-size: 2.6em;

        &::after {
            content: url('../img/powered.png');
            vertical-align: 12px;
            font-size: 80%;
        }
    }

    h2 {
        font-weight: normal
    }

    & > ul {
        padding: 0;
        list-style: none;
        display: flex;
        flex-flow: wrap row;
        justify-content: space-between;

        & > li {
            flex: 0 0 49%;
            font-size: 0.85em;
            color: $tertiaryColor;
            border: 1px solid $quinaryColor;
            border-radius: $borderRadius;
            padding: $normalPadding;
            margin-bottom: $normalMargin;
            box-sizing: border-box;

            @media only screen and (max-width: $desktop) {
                flex: 0 0 100%
            }

            .description {
                margin: $normalMargin 0
            }

            a {
                color: $quaternaryColor;
                font-size: 1.177em;
                text-decoration: none;
                font-weight: bold
            }

            span {
                margin-right: calc(#{$normalMargin} * 1.4);
            }
        }
    }
}

aside {
    flex: 0 0 24%;

    @media only screen and (max-width: $tablet) {
        flex: 0 0 100%
    }
}

#gh_avatar {
    width: 100%;
    border-radius: $borderRadius;
    margin-bottom: $normalMargin
}

#gh_username {
    font-size: 1.75em;
    line-height: 1.2;
    font-weight: bold
}

#gh_login {
    color: $tertiaryColor;
    font-size: 1.65em;
    margin-bottom: calc(#{$normalMargin} * 1.5)
}

#gh_bio {
    margin-bottom: calc(#{$normalMargin} * 1.5)
}

#gh_location {
    margin-bottom: calc(#{$normalMargin} / 2)
}

#gh_email {
    margin-bottom: calc(#{$normalMargin} / 2);

    a {
        text-decoration: none
    }
}

#gh_blog {
    a {
        text-decoration: none
    }
}


a {
    text-decoration: none;
}

.fas {
    color: $tertiaryColor
}

.hotpink {
    color: hotpink
}