// Colors

$primaryColor: #24292E;
$secondaryColor: #fff;

// Media Queries

$desktop: 1170px;
$tablet: 670px;
$mobile: 420px;

// Margins and paddings

$normalPadding: 15px;
$normalMargin: $normalPadding;

$borderRadius: 5px