body {
  background-color: #fff;
  font-family: "Open Sans", sans-serif; }

main {
  width: 100%;
  max-width: 1080px;
  margin: 30px auto;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between; }

.content {
  flex: 0 0 74%; }
  .content h1 {
    font-size: 2.6em; }
    .content h1::after {
      content: url("../img/powered.png");
      vertical-align: 12px;
      font-size: 80%; }
  .content > ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between; }
    .content > ul > li {
      flex: 0 0 32.5%;
      border: 1px solid #24292E;
      border-radius: 5px;
      padding: 15px;
      margin-bottom: 15px;
      box-sizing: border-box; }

aside {
  flex: 0 0 24%; }

#gh_avatar {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 15px; }

#gh_username {
  font-size: 1.65em;
  font-weight: bold; }

#gh_login {
  color: #666;
  font-size: 1.65em;
  margin-bottom: 15px; }

#gh_bio {
  margin-bottom: 15px; }

#gh_location {
  margin-bottom: calc(15px / 2); }

#gh_email {
  margin-bottom: calc(15px / 2); }

#gh_blog
a {
  text-decoration: none; }
  #gh_blog
a.name {
    font-size: 1.3em; }

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v15-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/open-sans-v15-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v15-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v15-latin-regular.woff") format("woff"), url("../fonts/open-sans-v15-latin-regular.ttf") format("truetype"), url("../fonts/open-sans-v15-latin-regular.svg#OpenSans") format("svg");
  /* Legacy iOS */ }

/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/open-sans-v15-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url("../fonts/open-sans-v15-latin-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v15-latin-italic.woff2") format("woff2"), url("../fonts/open-sans-v15-latin-italic.woff") format("woff"), url("../fonts/open-sans-v15-latin-italic.ttf") format("truetype"), url("../fonts/open-sans-v15-latin-italic.svg#OpenSans") format("svg");
  /* Legacy iOS */ }

/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/open-sans-v15-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/open-sans-v15-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v15-latin-700.woff2") format("woff2"), url("../fonts/open-sans-v15-latin-700.woff") format("woff"), url("../fonts/open-sans-v15-latin-700.ttf") format("truetype"), url("../fonts/open-sans-v15-latin-700.svg#OpenSans") format("svg");
  /* Legacy iOS */ }

/* open-sans-700italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/open-sans-v15-latin-700italic.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("../fonts/open-sans-v15-latin-700italic.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v15-latin-700italic.woff2") format("woff2"), url("../fonts/open-sans-v15-latin-700italic.woff") format("woff"), url("../fonts/open-sans-v15-latin-700italic.ttf") format("truetype"), url("../fonts/open-sans-v15-latin-700italic.svg#OpenSans") format("svg");
  /* Legacy iOS */ }

/*# sourceMappingURL=style.css.map */